<!DOCTYPE html>
<html>
<head>
    <title>Actualizar Datos para Pines</title>
</head>
<body>
    <h1>Actualizar Datos para Pines</h1>
    <form action="/update_details" method="post">
        <label for="pin">Seleccionar Pin:</label>
        <select id="pin" name="pin" required>
            {% for pin in selected_pins %}
                <option value="{{ pin }}" {% if pin == selected_pin %}selected{% endif %}>{{ pin }}</option>
            {% endfor %}
        </select><br><br>

        <label for="device">Device:</label>
        <input type="text" id="device" name="device" placeholder="ID del dispositivo" required value="{{ device }}"><br><br>

        <label for="habilitacion_zsf">Habilitación ZSF:</label>
        <input type="checkbox" id="habilitacion_zsf" name="habilitacion_zsf" value="1" {% if habilitacion_zsf == "1" %}checked{% endif %}><br><br>

        <label for="tiempo_zsf">Tiempo ZSF (segundos):</label>
        <input type="number" id="tiempo_zsf" name="tiempo_zsf" min="0" required value="{{ tiempo_zsf }}"><br><br>

        <label for="habilitacion_osf">Habilitación OSF:</label>
        <input type="checkbox" id="habilitacion_osf" name="habilitacion_osf" value="1" {% if habilitacion_osf == "1" %}checked{% endif %}><br><br>

        <label for="tiempo_osf">Tiempo OSF (segundos):</label>
        <input type="number" id="tiempo_osf" name="tiempo_osf" min="0" required value="{{ tiempo_osf }}"><br><br>

        <input type="submit" value="Guardar Datos">
    </form>

    <!-- Mostrar los valores guardados -->
    {% if selected_pin %}
        <h2>Datos Guardados para el Pin {{ selected_pin }}:</h2>
        <ul>
            <li><strong>Device:</strong> {{ device }}</li>
            <li><strong>Habilitación ZSF:</strong> {{ 'Sí' if habilitacion_zsf == '1' else 'No' }}</li>
            <li><strong>Tiempo ZSF:</strong> {{ tiempo_zsf }} segundos</li>
            <li><strong>Habilitación OSF:</strong> {{ 'Sí' if habilitacion_osf == '1' else 'No' }}</li>
            <li><strong>Tiempo OSF:</strong> {{ tiempo_osf }} segundos</li>
        </ul>
    {% endif %}

    <!-- Botón para regresar al index -->
    <h2>Finalizar y Regresar al Inicio</h2>
    <form action="/" method="get">
        <input type="submit" value="Finalizar">
    </form>
</body>
</html>
